body {
	min-height: 480px;
	margin: 0px;
}

.hover {
	background-color: #ddd;
}

#viewer {
	left: 0px;
	top : 40px;
	width : 100%;
	bottom: 0px;
}
#dcase-manager {
	margin-top: 60px;
}
#ads-logo {
	position: absolute;
	right: 0px;
	top: 40px;
}
