body {
	min-height: 480px;
	margin: 0px;
}

.hover li {
	background-color: #eee;
/*	border: 10px dashed;
	border-color: #000;
	margin: -10px;*/
}

#viewer {
	left: 0px;
	top : 0px;
	width : 100%;
	min-height: 100%;
	bottom: 0px;
	-webkit-transition: all 0.5s ease-in-out;
}

#dcase-manager {
	margin-top: 60px;
}

#dcase-tags li.line {
	border-style: solid;
	border-width: 1px 0 0 0;
	border-color: #eee;
}

#alltags {
	color: #000;
	font-weight: bold;
}

#assureit-status {
	position: absolute;
	left: 10px;
	top : 52px;
	-webkit-transition: all ease-in-out;
	-webkit-transition-delay: 0.5s;
	-moz-transition: all ease-in-out 0.5s;
	-o-transition: all ease-in-out 0.5s;
	transition: all ease-in-out 0.5s;
}

#assureit-status ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.CodeMirror {
	z-index: 99999;
}
