body {
	min-height: 480px;
	margin: 0px;
}

.hover {
	background-color: #eee;
	border: 10px dashed;
	border-color: #000;
	margin: -10px;
	margin-left: -30px;
}

#viewer {
	left: 0px;
	top : 0px;
	width : 100%;
	min-height: 100%;
	bottom: 0px;
	-webkit-transition: all 0.5s ease-in-out;
}

#dcase-manager {
	margin-top: 60px;
}

#dcase-tags li.line {
	border-style: solid;
	border-width: 1px 0 0 0;
	border-color: #eee;
}

#alltags {
	color: #000;
	font-weight: bold;
}
