.viewer-root {
	position: absolute;
	margin: 0px;
	overflow: hidden;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

#toolbar {
	position: absolute;
	background: white;
	border-style: solid;
	border-width: 1px;
	border-radius: 4px;
	text-align: center;
	vertical-align: middle;
}

#edit-newnode {
	position: absolute;
	background: white;
	border-style: solid;
	border-width: 1px;
	border-radius: 4px;
	border-color: gray;
	font-size: 12px;
	padding: 4px;
	width: 280px;
	max-width: none;
	z-index: 99;
	box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

