extends layout
block bar
    .navbar.navbar-inverse.navbar-fixed-top
        .navbar-inner
            .container
                button.btn.btn-navbar(type="button", data-toggle="collapse", data-target=".nav-collapse")
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                form#search-form.navbar-search.pull-left
                    input#search-query.search-query(type="text", placeholder="Search")
                .nav-collapse.collapse
                    ul.nav
                        li
                            a( href="./") home
                        li.dropdown.ase-edit-menu
                            a.dropdown-toggle(data-toggle="dropdown", href="#") edit
                                b.caret
                            ul.dropdown-menu
                                li
                                    a#menu-undo(href="#") undo
                                li
                                    a#menu-redo(href="#") redo
                           li.dropdown.ase-edit-menu.ase-view-menu
                               a.dropdown-toggle(data-toggle="dropdown", href="#") export
                                   b.caret
                               ul.dropdown-menu
                                   li
                                       a#menu-export-json(href="#") JSON
                                   li
                                       a#menu-export-png(href="#") PNG
                                   li
                                       a#menu-export-pdf(href="#") PDF
                                   li
                                       a#menu-export-dscript(href="#") D-Script
                            li.ase-edit-menu
                                a#menu-commit(href="#") commit
                            li.dropdown.ase-edit-menu.ase-view-menu
                                a.dropdown-toggle#menu-history-toggle(href="#") commitlog
                                    b.caret
                            li.dropdown.ase-edit-menu.ase-view-menu
                                a.dropdown-toggle(data-toggle="dropdown", href="#") config
                                    b.caret
                                ul.dropdown-menu
                                    li.dropdown-submenu
                                        a(href="#") Theme
                                        ul#menu-change-theme.dropdown-menu
                                    li.dropdown-submenu
                                        a(href="#") Language
                                        ul#lang-theme.dropdown-menu
                                            li
                                                a#lang-select-english(href="#") English
                                            li
                                                a#lang-select-japanese(href="#") Japanese
                include includes/signin
block content
    #ase.container
        img#ase-logo(src="images/assuranceDS.png")
        #viewer(style="display: none;")
        #dcase-manager.container-fluid(style="display: none;")
        .row-fluid
            .span6
                h2 new_DCase
                form.form-horizontal
                    .control-group#newdcase-name
                        label.control-label(for="inputDCaseName") DCase_name
                        .controls
                            input#inputDCaseName(type="text", id="inputDCaseName")
                    .control-group#newdcase-desc
                        label.control-label(for="inputDesc") topgoal
                        .controls
                            textarea#inputDesc(rows=5)
                    .control-group
                        .controls
                            button.btn#dcase-create(type="button") create
            .span6
                h2 DCaseを選択
                table.table.table-striped.table-hover
                    thead
                        tr
                            th DCase_name
                            th creater
                            th last_commit
                            th last_commiter
                    tbody#dcase-select-table
    .dropdown#edit-menulist(style="display: none;")
        a.dropdown-toggle(data-toggle="dropdown", href="#")
            i.icon-list
        ul.dropdown-menu
            li
                a#ml-cut(href="#") cut
            li
                a#ml-copy(href="#") copy
            li
                a#ml-paste(href="#") paste
            li
                a#ml-delete(href="#") delete
            li.divider
            li
                a#ml-openall(href="#") openall
            li
                a#ml-closeall(href="#") closeall
            li.divider
            li.dropdown-submenu
                a(tabindex="-1", href="#") export
                ul.dropdown-menu
                    li
                        a#ml-export-json(href="#") JSON
                    li
                        a#ml-export-png(href="#") PNG
                    li
                        a#ml-export-pdf(href="#") PDF
                    li
                        a#ml-export-dscript(href="#") D-Script
    table#edit-newnode(style="display: none;")
            tr
                td(width="80")
                    ul.nav.nav-list(style="min-height: 100px;")
                td(width="200")
                    textarea(style="margin: 0px; padding: 0px; width: 100%; height: 100%;")
svg(width="0", height="0")
defs
    marker#Triangle-black(viewBox="0 0 10 10", refX="10", refY="5", markerUnits="strokeWidth", markerWidth="15", markerHeight="9", orient="auto")
            path(d="M 0 0 L 10 5 L 0 10 z", fill="gray", stroke="gray")
