doctype 5
include mixin
html
    head
        title =title
        +css('/lib/jquery.ui.autocomplete.css')
        +css('/lib/flatstrap/bootstrap.min.css')
        +css('/lib/bootstrap.icons.css')
        +css('/font-awesome/css/font-awesome.min.css')
        +css('/lib/codemirror.css')
        +css('/stylesheets/sidemenu.css')
        +css('/stylesheets/index.css')
        block link
        
        +js('/lib/pointer.min.js')
        +js('/lib/jquery.min.js')
        +js('/lib/jquery.mousewheel.min.js')
        +js('/lib/jquery.tmpl.min.js')
        +js('/lib/jquery.draggable.min.js')
        +js('/lib/jquery.svg.min.js')
        +js('/lib/jquery.svganim.min.js')
        +js('/lib/jquery.ui.autocomplete.js')
        +js('/lib/jquery.colorPicker.min.js')
        +js('/lib/jquery.autosize-min.js')
        +js('/lib/jquery.cookie.js')
        +js('/lib/bootstrap.min.js')
        +js('/lib/spin.min.js')
        +js('/lib/codemirror.js')
        +js('/javascripts/analytics.js')
        +js('/javascripts/config.js')
        +js('/javascripts/importfile.js')
        +js('/javascripts/router.js')
        +js('/javascripts/adsComponentView.js')
        +js('/javascripts/ads.js')
        +js('/javascripts/api.js')
        +js('/javascripts/sidemenu.js')
        +js('/javascripts/timeutil.js')
        +js('/javascripts/history.js')
        +js('/javascripts/DCaseTree.js')
        +js('/javascripts/Xml2DCaseTree.js')
        block script
    body
        block bar
        block content
        block svg
