doctype 5
html
    head
        title =title
        link(rel='stylesheet', href='/lib/jquery.svg.css')
        link(rel='stylesheet', href='/lib/jquery.ui.autocomplete.css')
        link(rel='stylesheet', href='/lib/jquery.colorPicker.css')
        link(rel='stylesheet', href='/lib/bootstrap.min.css')
        link(rel='stylesheet', href='/lib/bootstrap.icons.css')
        link(rel='stylesheet', href='/lib/bootstrap-responsive.min.css')
        link(rel='stylesheet', href='/lib/codemirror.css')
        link(rel='stylesheet', href='/stylesheets/dcase-node.css')
        link(rel='stylesheet', href='/stylesheets/viewer.css')
        link(rel='stylesheet', href='/stylesheets/timeline.css')
        link(rel='stylesheet', href='/stylesheets/index.css')
        
        script(type='text/javascript', src='/lib/pointer.min.js')
        script(type='text/javascript', src='/lib/jquery.min.js')
        script(type='text/javascript', src='/lib/jquery.mousewheel.min.js')
        script(type='text/javascript', src='/lib/jquery.draggable.min.js')
        script(type='text/javascript', src='/lib/jquery.svg.min.js')
        script(type='text/javascript', src='/lib/jquery.svganim.min.js')
        script(type='text/javascript', src='/lib/jquery.ui.autocomplete.js')
        script(type='text/javascript', src='/lib/jquery.colorPicker.min.js')
        script(type='text/javascript', src='lib/jquery.autosize-min.js')
        script(type='text/javascript', src='/lib/bootstrap.min.js')
        script(type='text/javascript', src='/lib/spin.min.js')
        script(type='text/javascript', src='/lib/codemirror.js')
        script(type='text/javascript', src='/javascripts/dcaseviewer.js')
        script(type='text/javascript', src='/javascripts/dcaseviewer-addons.js')
        script(type='text/javascript', src='/javascripts/dnode.js')
        script(type='text/javascript', src='/javascripts/gsnshape.js')
        script(type='text/javascript', src='/javascripts/handler.js')
        script(type='text/javascript', src='/javascripts/timeline.js')
        script(type='text/javascript', src='/javascripts/dateformatter.js')
        script(type='text/javascript', src='/javascripts/ase.js')
        script(type='text/javascript', src='/javascripts/api.js')
        script(type='text/javascript', src='/javascripts/animation.js')
        script(type='text/javascript', src='/javascripts/index.js')
    body
        block bar
        block content
        block svg
