mixin js(path)
    script(type='text/javascript', src=basepath+path)
mixin css(path)
    link(rel='stylesheet', href=basepath+path)
mixin template(id)
    script(id=id, type="text/x-jquery-tmpl")
        block
mixin mainCollum
    // Width is temporary set to 600px for Nexus7(600px) and iPad mini(640px).
    // TODO: Change width by the device.
    .container(style="width: 600px;")
        .row
            .col-xs-3
            .col-xs-9
                block
