extends base
block script
    +js('/javascripts/route/newcase.js')
block content
    +mainCollum
        h2= lang.new_DCase
        form(role="form")
            .form-group
                label.control-label(for="inputDCaseName")= lang.DCase_name
                input.form-control#inputDCaseName(type="text")
            .form-group
                label.control-label(for="inputDesc")= lang.topgoal
                textarea.form-control#inputDesc(rows=5)
            button.btn.btn-default.btn-primary#dcase-create(type="button")= lang.create