extends layout
block content
            #newProject.span6.offset3(style='display: none;')
                h2= lang.new_Project
                form.form-horizontal
                    .control-group#newproject-name
                        label.control-label(for="inputProjectName")= lang.Project_name
                        .controls
                            input#inputProjectName(type="text", id="inputProjectName")
                    .control-group#newproject-desc
                        label.control-label(for="inputDesc")= lang.topgoal
                        .controls
                            textarea#inputDesc(rows=5)
                    .control-group
                        .controls
                            button.btn#project-create(type="button")= lang.create
