li.line.dropdown
    a.dropdown-toggle(href="#", data-toggle="dropdown") Sign In
        strong.caret
    .dropdown-menu(style="padding: 15px; padding-bottom: 0px;")
        form#sign-in-form.navbar-form.pull-right(method="post", action="#{basepath}/login")
            input.span2(type="text", placeholder="username", name="username", style="margin-bottom: 15px;")
            input.span2(type="password", placeholder="password", name="password", style="margin-bottom: 15px;")
            input(type="hidden" ,name="dcaseId" ,value="{$_GET['dcaseId']}")
            input#user_remember_me(style="float: left; margin-right: 10px;", type="checkbox", name="user[remember_me]", value="1")
            label.string.optional(for="user_remember_me") Remember me
            input.btn.btn-primary(type="submit", style="margin-bottom: 15px; clear: left; width: 100%; height: 32px; font-size: 13px;", value="Sign in")
li.line.dropdown
    a.dropdown-toggle(data-toggle="dropdown", href="#") Sign Up
        strong.caret
    .dropdown-menu(style="padding: 15px; padding-bottom: 0px;")
        form#sign-up-form.navbar-form.pull-right(method="post", action="#{basepath}/register")
                input#signup-userid.span2(type="text", placeholder="username", name="username", style="margin-bottom: 15px;")
                input#signup-pass.span2(type="password", placeholder="password", name="password", style="margin-bottom: 15px;")
                input#signup-pass2.span2(type="password", placeholder="confirm password", name="password2", style="margin-bottom: 15px;")
                input.btn.btn-primary(type="submit", style="margin-bottom: 15px; width: 100%; height: 32px; font-size: 13px;", value="Sign Up", disabled)
